

<b> Hello</b>
<br>
This web site verifies the validity of ISBN numbers
<br><br>
This an example of what an ISBN number may look like on the back of a book.
<br><br>
<img src = "images/isbn_pic.jpg" alt="Mountains View" style="width: 30%;">
<br><br>
Enter your ISBN number below and press submit. <!--Asks the user for input-->
 <!-- Creates a form that accepts a sandwich selection, topping and side in a component called sandwich_choice-->

<html>
<body>
<form method="post" action="validate">  <!-- sets up the form to collect the number-->
    <input type="text"  name="a_number">
    <br>
    <br>
    <input type="submit">
</form>


  <style>
    body {background-color: MediumSeaGreen;}
    h1 {color: red;}    
    p {color: red;text-align: center;}

    img {
    display: block;
    margin: auto;
    width: 50%;}



    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;margin:1em auto;}

    th {
    text-align: left;
}
      </style>



